* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

html {
    height: 100vh;
    font-size: 14px;
}

body {
    background-color: #282828;
    height: 100%;
}

.container {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #9370DB;
}

a {
    text-decoration: none;
}

.degrade {
    background: linear-gradient(to right, purple, rgb(248, 4, 126));
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    max-width: 120px;
}

head h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: 5e5e5e;
    font-weight: 300;
}

section.botoes-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.link button {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #FFF;
    transition: 0.6s;
}

a.link i {
    font-size: 1.5em;
}

a.link button:hover {
    background: linear-gradient(to right, rgb(248, 4, 126), purple);
    transform: scale(1.05);
    box-shadow: #FFF;
}

.light-theme {
    background-color: #FFFFFF;
    color: #000000;
}

.light-theme .degrade {
    background: linear-gradient(to right, rgb(248, 4, 126), purple);
    color: #FFF;
}

.light-theme .degrade:hover {
    box-shadow: #000;
}

.light-theme {
    background-color: #FFFFFF;
    color: #000000;
}

.light-theme .degrade {
    background: linear-gradient(to right, rgb(248, 4, 126), purple);
    color: #FFF;
}

.light-theme .degrade:hover {
    box-shadow: #000;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#theme-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #FFF;
    transition: 0.6s;
}

#theme-toggle:hover {
    background: linear-gradient(to right, rgb(248, 4, 126), purple);
    transform: scale(1.05);
    box-shadow: #FFF;
}